#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -DNO_SYSTEM -Wall -DUSE_GETNAMEINFO=1 -DUSE_GETIFADDRS=1
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs

%:
	dh $@ --parallel --with autoreconf

override_dh_auto_install:
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/iftop

override_dh_strip:
	dh_strip --dbg-package=iftop-dbg
